<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>RAG智能问答助手</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="app">

    <!-- 左侧栏 -->
    <div class="sidebar">
        <div class="sidebar-title">🧠 RAG助手</div>

        <button class="new-chat-btn" onclick="newChat()">＋ 新建对话</button>

        <div class="history-title">历史对话</div>
        <div id="chat-list"></div>
    </div>

    <!-- 右侧聊天区 -->
    <div class="chat-area">

        <div class="top-bar">
            中文RAG智能问答系统
        </div>

        <div id="messages" class="messages"></div>

        <div class="input-area">
            <input id="input" placeholder="请输入你的问题..." />
            <button onclick="send()">发送</button>
        </div>
        <hr>

<h3>上传知识库</h3>

<form id="upload-form">
    <input
        type="file"
        id="file-input"
        name="file"
    />

    <button type="submit">
        上传TXT
    </button>
</form>
    </div>

</div>

<script src="/static/app.js"></script>
</body>
</html>